---
export const prerender = false;

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { fetchContent } from "../../lib/content";

const { source } = Astro.params;

const content = await fetchContent(source == "all" || !source ? [] : [source]);

export function getStaticPaths() {
  return [
    { params: { source: "reddit" } },
    { params: { source: "youtube" } },
    { params: { source: "news" } },
    { params: { source: "twitter" } },
    { params: { source: "tiktok" } },
    { params: { source: "instagram" } },
    { params: { source: "all" } },
    { params: { source: undefined } },
  ];
}

const activeTab = source || "all";

const tabs = [
  { name: "All" },
  { name: "Reddit", icon: "/content/websites/reddit.com.png" },
  { name: "Youtube", icon: "/content/websites/youtube.com.png" },
  { name: "News", icon: "/content/websites/news.png" },
  { name: "Twitter", icon: "/content/websites/twitter.com.png" },
  { name: "Instagram", icon: "/content/websites/instagram.com.png" },
  { name: "Tiktok", icon: "/content/websites/tiktok.com.png" },
];

function tabPath(tab) {
  if (tab.name == "All") {
    return "/social";
  } else {
    return `/social/${tab.name.toLowerCase()}`;
  }
}
---

<Layout title="Home">
  <section class="relative mx-auto max-w-screen-2xl px-4">
    <div class="mb-2 mt-8 flex flex-col items-center">
      <h3 class="flex-auto text-center font-display text-4xl font-bold text-white">
        S<img src="/portal.svg" class="inline h-[0.7em]" aria-hidden="true" alt="o" />cial Feed
      </h3>
      <p class="my-4 max-w-prose text-center text-lg">Everything everywhere posted about Stormgate, all at once</p>
    </div>
    <div>
      <div class="mb-6">
        <div class="flex place-content-center border-0 border-gray-200">
          <nav class="flex space-x-2 sm:space-x-8" aria-label="Tabs">
            {
              tabs.map((tab) =>
                tab.name.toLowerCase() == activeTab ? (
                  <a
                    href={tabPath(tab)}
                    class="text-white-700 whitespace-nowrap border-b-2 border-gray-100 px-1 py-2 text-sm font-medium"
                    aria-current="page"
                  >
                    {tab.icon ? (
                      <img src={tab.icon} class="inline-block h-6 sm:mr-2 sm:h-3" />
                    ) : (
                      <span class="sm:hidden">{tab.name}</span>
                    )}
                    <span class="hidden sm:inline-block">{tab.name}</span>
                  </a>
                ) : (
                  <a
                    href={tabPath(tab)}
                    class="whitespace-nowrap border-b-2 border-transparent px-1 py-2 text-sm font-medium text-gray-100 hover:border-white hover:text-white"
                  >
                    {tab.icon ? (
                      <img src={tab.icon} class="inline-block h-6 sm:mr-2 sm:h-3" />
                    ) : (
                      <span class="sm:hidden">{tab.name}</span>
                    )}
                    <span class="hidden sm:inline-block">{tab.name}</span>
                  </a>
                )
              )
            }
          </nav>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      {content.map((c) => <Card data={c} />)}
    </div>
  </section>
</Layout>
