---
import type { Content } from "../../lib/content";

export interface Props {
  data: Content;
}

const { data } = Astro.props;
const isStormgatenexus = data.source == "news" && data.author_url.includes("stormgatenexus.com");
function prefixUrl(url: string) {
  if (url.startsWith("http")) {
    return url;
  }
  return `https://${url}`;
}
---

{
  isStormgatenexus ? (
    <a class="inline-flex items-center" href="https://stormgatenexus.com" rel="noopener ugc" target="_blank">
      <img src="/content/websites/stormgatenexus.com.png" class="mr-2 h-4" alt="Stormgate Nexus" />
      <span>Stormgate Nexus</span>
    </a>
  ) : (
    <>
      <span class="inline-flex items-center text-orange-400">
        <i class="ti ti-rss w-4" />
      </span>

      {data.author_url ? (
        <a
          class="inline-flex items-center whitespace-nowrap"
          href={prefixUrl(data.author_url)}
          rel="noopener ugc"
          target="_blank"
        >
          {data.author_image_url && <img src={data.author_image_url} class="mr-2 h-3" />}
          {data.author}
        </a>
      ) : data.author ? (
        <span class="truncate">
          {data.author_image_url && <img src={data.author_image_url} class="mr-2 h-3" />}
          {data.author}
        </span>
      ) : null}
    </>
  )
}
