---
export const prerender = false
import Layout from "../../layouts/Layout.astro"
import hero from "../../assets/game/vanguard-base-hero.jpg"
import { Image } from "astro:assets"
import { Leaderboard } from "../../components/widgets/Leaderboard.tsx"
import type { LeaderboardOrder, Race } from "../../lib/api"
import { getCollection } from "astro:content"
import DeprecationNotice from "../../components/promos/DeprecationNotice.astro"
const mode = Astro.params.mode
// todo, mode as query param
const { page = 1, query, faction, order } = Object.fromEntries(new URL(Astro.request.url).searchParams.entries())

const badges = (await getCollection("badges")).map((b) => ({ ...b.data, icon: b.data.icon.src }))
---

<Layout title="Leaderboard">
  <div class="fixed top-0 -z-0 hidden h-[max(800px,90vh)] w-full sm:block">
    <Image src={hero} alt="" class="absolute h-full w-full object-cover" />
    <div class="absolute inset-0 bg-gradient-to-b from-gray-950/60 to-gray-950"></div>
  </div>
  <DeprecationNotice
    title="Player Profiles will no longer be updated"
    lostValue="the 1v1 leaderboard will likely stay active but we won't be able to show match history or win rates"
  />

  <section class="relative mx-auto max-w-screen-md space-y-4 px-4 py-0">
    <Leaderboard
      mode={mode}
      query={query}
      faction={faction as Race}
      page={Number(page)}
      order={order as LeaderboardOrder}
      badges={badges}
      client:load
    />
  </section>
</Layout>
