---
import VideoCard from "../../components/VideoCard.astro";
import Layout from "../../layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";
import { sortCollectionByDate } from "../../lib/utils";
import Timeago from "../../components/Timeago.astro";

export async function getStaticPaths() {
    const posts = await getCollection("videos");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"videos">;

const video = Astro.props;
const { title, youtube_id, author, author_url, author_avatar_url } = video.data;

const videos = (await getCollection("videos"))
    .sort(sortCollectionByDate)
    .slice(0, 8);
---

<Layout title={title}>
    <section class="container mx-auto py-4">
        <div class="relative bg-gray-600 sm:rounded-xl overflow-hidden sm:my-6">
            <div class="relative aspect-video">
                <img
                    src={`https://img.youtube.com/vi/${youtube_id}/maxresdefault.jpg`}
                    alt={title}
                    class="absolute inset-0 w-full h-full object-cover"
                />
                <iframe
                    class="absolute inset-0 w-full h-full"
                    src={`https://www.youtube.com/embed/${youtube_id}?rel=0&autoplay=1`}
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="px-6 py-8">
                <h1 class="font-bold font-display text-lg sm:text-3xl mb-4">
                    {title}
                </h1>
                <p class="flex flex-wrap items-center gap-2">
                    {
                        author_avatar_url && (
                            <img
                                src={author_avatar_url}
                                alt={author}
                                class="w-8 h-8 rounded-full inline-block mr-2"
                            />
                        )
                    }
                    <span
                        >by <a
                            href={author_url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:underline font-semibold"
                        >
                            {author}
                        </a></span
                    >
                    &middot;
                    <Timeago date={video.data.date} />
                </p>
            </div>
        </div>
        <div
            class="grid p-4 sm:p-0 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
        >
            {videos.map((video) => <VideoCard entry={video} />)}
        </div>
    </section>
</Layout>
