---
import Layout from "../../layouts/Layout.astro"
import Box from "../../components/Box.astro"
import { CollectionEntry, getCollection } from "astro:content"
import HypeCard from "../../components/HypeCard.astro"
import type { PaginateFunction } from "astro"
import { sortCollectionByDate } from "../../lib/utils"
import VideoCard from "../../components/VideoCard.astro"
export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate((await getCollection("videos")).sort(sortCollectionByDate), {
    pageSize: 8,
  })
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props
---

<Layout title="Videos">
  <section class="container relative mx-auto px-4">
    <h1 class="my-6 font-display text-4xl font-bold">Videos</h1>
    <div class="grid gap-4 p-4 sm:grid-cols-2 sm:p-0 lg:grid-cols-3 xl:grid-cols-4">
      {page.data.map((video) => <VideoCard entry={video} />)}
    </div>
    <div class="my-6 flex justify-between">
      {page.url.prev ? <a href={page.url.prev}>Previous</a> : <span />}
      <span class="flex-auto text-center">Page {page.currentPage} of {page.lastPage}</span>
      {page.url.next ? <a href={page.url.next}>Next</a> : <span />}
    </div>
  </section>
</Layout>
