---
import type { Content } from "../../lib/content";
import Timeago from "../Timeago.astro";
import unescape from "lodash/unescape";
export interface Props {
  data: Content;
}

const { data } = Astro.props;
---

<div
  class="group flex flex-col rounded-xl border-2 border-transparent bg-gray-700 shadow-sm transition focus-within:border-orange-500 hover:border-orange-500 hover:shadow-xl"
>
  {
    data.image_url?.length && (
      <a
        href={data.url}
        rel="noopener ugc"
        target="_blank"
        class="relative aspect-video overflow-hidden rounded-t-xl focus:outline-none"
      >
        <img
          src={data.image_url}
          class="h-full w-full object-cover transition-transform group-focus-within:scale-105 group-hover:scale-105"
        />
      </a>
    )
  }
  <div class="flex flex-auto flex-col p-6">
    <a
      class:list={["font-display font-bold text-md mb-2", data.image_url ? "line-clamp-3" : "line-clamp-5"]}
      href={data.url}
      rel="noopener ugc"
      target="_blank"
      tabindex="-1"
    >
      {data.title}
    </a>
    <p class:list={["text-gray-100 text-sm line-clamp-2", data.image_url ? "line-clamp-2" : "line-clamp-[7]"]}>
      {data.description}
    </p>
    <div class="flex-auto"></div>
    <div class="mt-4 flex gap-4 text-sm">
      <slot>
        {
          data.author_url ? (
            <a class="inline-flex items-center">
              {data.author_image_url && <img src={data.author_image_url} class="mr-2 h-3" />}
              {data.author}
            </a>
          ) : data.author ? (
            <span class="truncate">
              {data.author_image_url && <img src={data.author_image_url} class="mr-2 h-3" />}
              {data.author}
            </span>
          ) : null
        }
      </slot>
      {
        data.published_at && (
          <span class="truncate">
            <Timeago date={new Date(data.published_at)} format="short" />
          </span>
        )
      }
    </div>
  </div>
</div>
