---
import Layout from "../layouts/Layout.astro"
import reneAvatar from "../assets/about/rene.jpg"
import robertAvatar from "../assets/about/robert.jpg"
import hero from "../assets/hero.png"

const team: any[] = [
  {
    name: "René Klačan",
    avatar: reneAvatar.src,
    role: "Co-Founder",
    location: "Bratislava, Slovakia",
    links: {
      personal: "https://resume.klacan.sk/",
      twitter: "https://twitter.com/reneklacan",
      github: "https://github.com/reneklacan",
      linkedin: "https://www.linkedin.com/in/reneklacan/",
      discord: "https://discord.com/users/327431891869237262",
      strava: "https://www.strava.com/athletes/83517726",
    },
  },
  {
    name: "Robert van Hoesel",
    avatar: robertAvatar.src,
    role: "Co-Founder",
    location: "Amsterdam, Netherlands",
    links: {
      personal: "https://bento.me/robertvh",
      twitter: "https://twitter.com/robertvhoesel",
      github: "https://github.com/robertvanhoesel",
      linkedin: "https://www.linkedin.com/in/robertvanhoesel/",
      discord: "https://discord.com/users/836650704671211562",
      // strava: "https://www.strava.com/athletes/102703142",
    },
  },
]

const linkIconClassMap: any = {
  personal: "ti ti-user",
  twitter: "ti ti-brand-twitter-filled",
  github: "ti ti-brand-github-filled",
  linkedin: "ti ti-brand-linkedin",
  discord: "ti ti-brand-discord-filled",
  strava: "ti ti-brand-strava",
}
---

<Layout title="About">
  <div class="absolute top-0 -z-0 h-[800px] w-full">
    <img src={hero.src} class="absolute h-full w-full object-cover opacity-75" />
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-900"></div>
  </div>
  <div class="mx-auto max-w-4xl">
    <main class="relative">
      <div class="mx-auto pt-16">
        <h2 class="text-center text-4xl font-bold text-white">
          About <span class="hidden sm:inline">Stormgate World</span>
        </h2>
      </div>

      <div class="mt-16 px-6 sm:mt-24">
        <h2 class="text-3xl font-bold text-white">Vision</h2>
        <p class="mt-6 text-lg leading-8 text-gray-100">
          We aspire to build <span class="font-bold">social platform</span> around in-game profiles, esports and learning
          resources to extend the experience of Stormgate players outside of the game. We strongly believe in the
          <span class="font-bold">power of community</span>
          and we want to build a place where players can connect, share and learn from each other. And we want to do it while
          <span class="font-bold">spreading positivity</span> and reducing toxicity and drama.
        </p>
      </div>

      <div class="mb-20 mt-16 px-6">
        <h2 class="text-3xl font-bold text-white">Team</h2>
        <p class="mt-6 text-lg leading-8 text-gray-100">
          We are experienced developers and gamers who are passionate about building great products. We also built
          <a href="https://aoe4world.com" class="underline hover:text-white" target="_blank">AoE4 World</a>
          which is the largest Age of Empires 4 community website and is used monthly by more than 100k players and and its
          API is utilized by many other community projects.
        </p>
        <ul role="list" class="mx-auto mt-16 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-14">
          {
            team.map((member) => (
              <li>
                <img class="aspect-[14/13] w-full rounded-2xl object-cover" src={member.avatar} alt="" />
                <h3 class="mt-6 font-semibold text-white sm:text-lg">{member.name}</h3>
                <p class="mt-1 text-base text-gray-300">{member.role}</p>
                <p class="mt-1 text-sm text-gray-200">{member.location}</p>
                <p class="mt-2 text-xl">
                  {Object.keys(member.links).map((site) => (
                    <a href={member.links[site]} target="_blank" class="text-gray-200 hover:text-white">
                      <i class={linkIconClassMap[site]} />
                    </a>
                  ))}
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
  </div>
</Layout>
