---
export const prerender = false

import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
import { fetchCreators } from "../lib/content"

const source = "twitter"
const creators = (await fetchCreators())[source].slice(0, 9)
---

<Layout title="Creators">
  <section class="relative mx-auto max-w-screen-2xl px-4">
    <div class="mb-2 mt-8 flex flex-col items-center">
      <h3 class="flex-auto text-center font-display text-4xl font-bold text-white">
        <a href="/social"> Creators</a>
      </h3>
      <p class="my-4 max-w-prose text-center text-lg">Everything everywhere posted about Stormgate, all at once</p>
    </div>
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        creators.map((creator) => (
          <div class="flex">
            <div class="mr-4 flex-shrink-0">
              <a href={creator.url} target="_blank">
                <img class="h-16 w-16 rounded-full" src={creator.image_url} />
              </a>
            </div>
            <div class="flex flex-col">
              <a href={creator.author_url} target="_blank">
                <h4 class="text-lg font-bold">{creator.name}</h4>
              </a>
              <p class="mt-1 text-gray-100">Amet ut nobis explicabo numquam expedita quia omnis voluptatem.</p>

              <div class="mt-4 flex flex-grow">
                <Card data={creator.last_content} />
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
