---
export const prerender = false

import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
import { fetchCreators } from "../lib/content"

const creators = await fetchCreators()
const youtubeCreators = creators.youtube.slice(0, 9)
console.log(youtubeCreators)
---

<Layout title="Creators">
  <section class="relative mx-auto max-w-screen-2xl px-4">
    <div class="mb-2 mt-8 flex flex-col items-center">
      <h3 class="flex-auto text-center font-display text-4xl font-bold text-white">
        <a href="/social">
          Creators
        </a>
      </h3>
      <p class="my-4 max-w-prose text-center text-lg">Everything everywhere posted about Stormgate, all at once</p>
    </div>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        youtubeCreators.map((creator) => (
          <div class="flex">
            <div class="mr-4 flex-shrink-0">
              <a href={creator.author_url} target="_blank">
                <img
                  class="rounded-full h-16 w-16"
                  src={creator.author_image_url}
                />
              </a>
            </div>
            <div>
              <a href={creator.author_url} target="_blank">
              <h4 class="text-lg font-bold">{creator.author}</h4>
              </a>
              <p class="mt-1 text-gray-100">
                Amet ut nobis explicabo numquam expedita quia omnis voluptatem.
              </p>

              <!--p class="mt-4 text-gray-300">
                The most recent video:
              </p-->
              <div class="mt-4 flex">
                <Card data={creator.last_content}>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
