---
import Layout from "../layouts/Layout.astro";
import Bookmarks from "../components/Bookmarks.astro";
import Box from "../components/Box.astro";
import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../lib/utils";
import HypeCard from "../components/HypeCard.astro";
import hero from "../assets/hero.png";
import logoWhite from "../assets/stormgate-logo-white.png";
import VideoCard from "../components/VideoCard.astro";
import YoutubeCard from "../components/cards/Youtube.astro";
import { fetchContent } from "../lib/content";
import Timeago from "../components/Timeago.astro";
import unescape from "lodash/unescape";

const hype = (await getCollection("hype")).sort(sortCollectionByDate).slice(0, 5);

// const videos = (await getCollection("videos")).sort(sortCollectionByDate).slice(0, 4);

const news = (await fetchContent(["news", "reddit"], { count: 8 })).sort((a, b) => {
  return new Date(b.published_at).getTime() - new Date(a.published_at).getTime();
});

const videos = await fetchContent(["youtube"], { count: 12 });
---

<Layout title="Home">
  <div class="h-[800px] w-full absolute -z-0 top-0">
    <img src={hero} class="w-full h-full object-cover absolute" />
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-900"></div>
  </div>
  <section class="container mx-auto px-4 relative">
    <main>
      <div class="py-12 px-2">
        <img src={logoWhite} class="-ml-2 h-16" />
        <p class="text-2xl font-bold my-6">Get ready for the launch of Stormgate!</p>

        <p class="text-lg font-medium max-w-xl my-4 leading-relaxed">
          Developed by the talented Blizzard-veterans at FrostGiant Studios, Stormgate® is a highly anticipated
          free-to-play RTS Game coming to PC, with a private beta in mid-2023. Play solo or co-op in a futuristic
          settings with The Human Resistance, The Demonic Invaders and other to be revealed factions.
        </p>

        <p class="text-md font-medium max-w-xl leading-relaxed">
          On Stormgate World, you can find recent updates, community links, and other stuff to get you excited about the
          game. This is fan-made website brought to you by the creators of AoE4 World, the biggest community site for
          Age of Empires IV – with great hopes and plans for Stormgate.
        </p>

        <a
          href="https://playstormgate.com"
          target="_blank"
          class="bg-white rounded-full mr-4 px-6 py-2 border text-black my-6 inline-block font-bold border-white hover:bg-gray-100 transition"
        >
          Sign up for beta
        </a>
        <a
          href="/tldr"
          class="bg-transparent text-white border border-white rounded-full px-6 py-2 my-6 inline-block font-bold hover:bg-white/20 transition"
        >
          Learn more
        </a>
      </div>

      <div class="flex flex-col lg:flex-row gap-8 my-8">
        <div class="flex-auto">
          <Box title={"Latest Hype"}>
            <div class="space-y-6">
              {
                news.map((data) => {
                  return (
                    <a
                      href={data.url}
                      target="_blank"
                      rel="noopener"
                      class="flex flex-col xl:flex-row gap-6 -mx-4 px-4 py-4 hover:bg-gray-600 transition-all rounded-xl"
                    >
                      <div class="space-y-4 flex-auto">
                        <h2 class="font-bold font-display text-xl">{data.title}</h2>
                        <p
                          class="whitespace-pre-wrap max-w-prose text-gray-50 leading-relaxed line-clamp-6"
                          set:text={data.description}
                        />
                        <div class="flex flex-wrap text-sm text-gray-300 gap-3">
                          {data.author && (
                            <span class="block truncate">
                              {data.author_image_url && <img src={data.author_image_url} class="h-3 mr-2" />}
                              {data.author}
                            </span>
                          )}
                          {data.published_at && (
                            <span class="block truncate">
                              <Timeago date={new Date(data.published_at)} />
                            </span>
                          )}
                        </div>
                      </div>
                      {data.image_url?.length && (
                        <img
                          src={unescape(data.image_url)}
                          alt={data.title}
                          class="aspect-video h-40 xl:h-32 rounded-lg object-cover order-first xl:order-last"
                        />
                      )}
                    </a>
                  );
                })
              }
              <!-- {hype.map((item) => <HypeCard entry={item} />)} -->
            </div>
          </Box>
        </div>
        <div class="flex-grow flex-shrink-0 basis-1/3">
          <Box title={"Bookmarks"}>
            <Bookmarks />
          </Box>
        </div>
      </div>
      <div class="">
        <h3 class="font-bold font-display text-white/70 text-xl my-4 flex-auto">Featured Videos</h3>
        <!-- <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
          {videos.map((video) => <VideoCard entry={video} />)}
        </div> -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
          {videos.map((c) => <YoutubeCard data={c} />)}
        </div>
      </div>
    </main>
  </section>
</Layout>
