---
export const prerender = false

import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
import { validSources, validLanguages, fetchContent, FetchContentOrder } from "../lib/content"
import SocialFilters from "../components/social/Filters"

const params = Astro.url.searchParams
const language = params.get("l") || "any"
const source = params.get("s") || "all"
const time = params.get("t") || "7d"
const order = params.get("o") || "popular"

function parseTime(timeParam: string) {
  switch (timeParam) {
    case "1d":
      return "2d ago"
    case "3d":
      return "4d ago"
    case "7d":
      return "8d ago"
    case "30d":
      return "31d ago"
    default:
      return undefined
  }
}

function parseOrder(orderParam: string): FetchContentOrder {
  switch (orderParam) {
    case "relevant":
      return "score_relevant"
    case "popular":
      return "score_popular"
    case "newest":
      return "published_at"
    default:
      return "score_popular"
  }
}

function parseSource(sourceParam: string) {
  if (validSources.includes(sourceParam)) {
    return sourceParam
  }
}

function parseLanguage(languageParam: string) {
  if (validLanguages.includes(languageParam)) {
    return languageParam
  } else {
    return "any"
  }
}

const fetchParams = {
  language: parseLanguage(language),
  source: parseSource(source),
  since: parseTime(time),
  order: parseOrder(order),
  limit: 100,
  offset: 0,
}

const content = await fetchContent([], fetchParams)
---

<Layout title="Social Feed">
  <section class="relative mx-auto max-w-screen-2xl px-4">
    <div class="mb-8 mt-8 flex flex-col items-center">
      <h3 class="flex-auto text-center font-display text-4xl font-bold text-white">
        <a href="/social">
          S<img src="/portal.svg" class="inline h-[0.7em]" aria-hidden="true" alt="o" />cial Feed
        </a>
      </h3>
      <p class="my-4 max-w-prose text-center text-lg text-gray-200">
        Everything everywhere posted about Stormgate, all at once
      </p>
    </div>
    <SocialFilters
      path={Astro.url.pathname}
      client:load
      language={language}
      source={source}
      time={time}
      order={order}
    />
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      {content.map((c) => <Card data={c} />)}
    </div>
  </section>
</Layout>
