---
import { getCollection } from "astro:content";
const allWebsites = await getCollection("websites");
---

<ul class="flex flex-col">
    {
        allWebsites.map((website) => (
            <li class="block border-b border-gray-400 last:border-b-0 py-4">
                <a
                    href={website.data.url}
                    class="flex gap-4 items-center"
                    target="_blank"
                    rel="noopener"
                >
                    <img
                        src={website.data.icon}
                        alt={website.data.title}
                        class="w-8 h-8 object-cover rounded-xs"
                    />
                    <div>
                        <p class="font-bold">{website.data.title}</p>
                        <p>{website.data.subtitle}</p>
                    </div>
                </a>
            </li>
        ))
    }
</ul>
