---
import type { Content } from "../lib/content"
import Timeago from "./Timeago.astro"
import NewsMeta from "./sources/NewsMeta.astro"
import RedditMeta from "./sources/RedditMeta.astro"
import TwitterMeta from "./sources/TwitterMeta.astro"
import YoutubeMeta from "./sources/YoutubeMeta.astro"
import ToolMeta from "./sources/ToolMeta.astro"
export interface Props {
  data: Content
}

const { data } = Astro.props

const isStormgatenexus = data.source == "news" && data.author_url?.includes("stormgatenexus.com")
---

<div
  class="group flex flex-col overflow-hidden rounded-xl border border-gray-800 bg-gray-900/80 backdrop-blur shadow-sm transition focus-within:border-orange-500 hover:border-orange-500 hover:shadow-xl"
  class:list={[isStormgatenexus && "!bg-[#0d1e2a] hover:!border-[#ffae14] !focus-within:!border-[#ffae14]"]}
>
  {
    data.image_url?.length && (
      <a
        href={data.url}
        rel="noopener ugc"
        target="_blank"
        class="relative overflow-hidden rounded-t-xl focus:outline-none"
      >
        <img
          src={data.image_url}
          class="object- h-full w-full object-cover transition-transform group-focus-within:scale-105 group-hover:scale-105"
        />
      </a>
    )
  }
  {
    data.image_url?.length && (
      <div
        class="absolute inset-0 blur-xl opacity-15 bg-center bg-cover pointer-events-none"
        style={{ backgroundImage: `url(${data.image_url})` }}
      />
    )
  }
  <div class="flex flex-auto flex-col p-6">
    {
      data.source && ["twitter"].includes(data.source) ? (
        <a
          class:list={[
            "text-gray-100 whitespace-pre-wrap text-md line-clamp-5",
            data.image_url ? "line-clamp-4" : "line-clamp-[12]",
          ]}
          style="word-break: break-word;"
          href={data.url}
          rel="noopener ugc"
          target="_blank"
          tabindex="-1"
          set:text={(data.description ?? data.title).trim()}
        />
      ) : (
        <>
          <a
            class:list={[
              "font-display font-bold text-md mb-2",
              data.image_url ? "line-clamp-3" : "line-clamp-5",
              isStormgatenexus && "text-[#ffae14]",
            ]}
            href={data.url}
            rel="noopener ugc"
            target="_blank"
            tabindex="-1"
          >
            {data.title}
          </a>
          <p
            style="word-break: break-word;"
            class:list={["text-gray-100 text-sm line-clamp-2", data.image_url ? "line-clamp-2" : "line-clamp-[7]"]}
          >
            {data.description}
          </p>
        </>
      )
    }
    <div class="flex-auto"></div>
    <div class="mt-4 flex gap-4 text-sm">
      {
        data.source === "reddit" ? (
          <RedditMeta data={data} />
        ) : data.source === "twitter" ? (
          <TwitterMeta data={data} />
        ) : data.source === "youtube" ? (
          <YoutubeMeta data={data} />
        ) : data.source === "news" ? (
          <NewsMeta data={data} />
        ) : data.source === "tool" ? (
          <ToolMeta data={data} />
        ) : (
          <slot>
          </slot>
        )
      }

      {
        data.published_at && (
          <span>
            <Timeago date={new Date(data.published_at)} format="short" />
          </span>
        )
      }
    </div>
  </div>
</div>
