---
import { CollectionEntry, getCollection } from "astro:content";
import Timeago from "./Timeago.astro";

export interface Props {
    entry: CollectionEntry<"hype">;
}

const { data } = Astro.props.entry;
const { title, description, url, thumbnail, publisher, date } = data;

const website = (
    await getCollection("websites", ({ data }) => url?.includes(data.url))
)[0]?.data;
---

<a
    href={url}
    target="_blank"
    rel="noopener"
    class="flex flex-col xl:flex-row gap-6 -mx-4 px-4 py-4 hover:bg-gray-600 transition-all rounded-xl"
>
    <div class="space-y-4 flex-auto">
        <h2 class="font-bold font-display text-xl">{title}</h2>
        <p
            class="whitespace-pre-wrap max-w-prose text-gray-50 leading-relaxed"
            set:text={description}
        />
        <div class="flex flex-wrap text-sm text-gray-300 gap-3">
            {
                website && (
                    <p class="inline-flex items-center">
                        <img
                            src={website.icon}
                            class="w-3 h-3 mr-2 object-cover"
                        />
                        {website.title}
                    </p>
                )
            }
            {publisher && <p>{publisher}</p>}
            {
                date && (
                    <p>
                        <Timeago date={date} />
                    </p>
                )
            }
        </div>
    </div>
    {
        thumbnail && (
            <img
                src={thumbnail}
                alt={title}
                class="aspect-video h-40 xl:h-32 rounded-lg object-cover order-first xl:order-last"
            />
        )
    }
</a>
