---
import type { CollectionEntry } from "astro:content";
import Timeago from "./Timeago.astro";

export interface Props {
  entry: CollectionEntry<"videos">;
}

const { data: video, slug } = Astro.props.entry;
---

<a href={`/videos/${slug}`} class="rounded-xl transition-all hover:bg-gray-600">
  <img src={video.thumbnail} alt={video.title} class="aspect-video w-auto rounded-t-xl object-cover" />
  <div class="flex flex-col gap-2 p-4">
    <h4 class="text-lg font-bold leading-snug">{video.title}</h4>
    <p class="text-sm text-gray-300">
      {
        video.author_avatar_url && (
          <img src={video.author_avatar_url} alt={video.author} class="mr-1 inline-block h-4 w-4 rounded-full" />
        )
      }
      <span>{video.author}</span>
    </p>
  </div>
</a>
