---
export const prerender = false
import Layout from "../../layouts/Layout.astro"
import Widget from "../../components/Widget.astro"
import { Image } from "astro:assets"
import infernals from "../../assets/game/factions/infernals-small.png"
import vanguard from "../../assets/game/factions/vanguard-small.png"
import MatchPreview from "../../components/widgets/MatchPreview.astro"
import { PlayersApi } from "../../lib/api"
import { leagues } from "../../assets/game/leagues/leagues"
import { RankedBadge } from "../../components/ui/RankedBadge"
const themes = {
  infernals: {
    badge: "bg-red-800/20 border-red-500/50",
    badgeLabel: "text-red-500",
  },
  vanguard: {
    badge: "bg-blue-800/20 border-blue-500/50",
    badgeLabel: "text-blue-500",
  },
  default: {
    badge: "bg-gray-800/20 border-gray-500/50",
    badgeLabel: "text-gray-600",
  },
} as const
type Theme = keyof typeof themes

const playerId = Astro.params.id!
const player = await PlayersApi.getPlayer({ playerId })
const playerMatches = await PlayersApi.getPlayerMatches({ playerId })

const highestLeague = player.leaderboard_entries.reduce(
  (acc, entry) => (entry.points > acc.points ? entry : acc),
  player.leaderboard_entries[0]
)
---

<Layout title={player.nickname}>
  <div class="w-full border-b border-gray-700/50 bg-gray-800/50 backdrop-blur-lg">
    <div class="mx-auto flex max-w-screen-md flex-wrap items-center gap-4 px-4 py-4">
      <RankedBadge entry={highestLeague} class="w-20" client:load />
      <h1 class="flex-auto text-2xl font-bold text-gray-50">{player.nickname}</h1>

      <div class="flex flex-wrap gap-4">
        {
          player.leaderboard_entries.map((entry) => (
            <div
              class:list={[
                "border rounded-lg px-4 py-2 flex items-center gap-3 text-sm sm:text-base",
                themes[entry.race as Theme].badge,
              ]}
            >
              <Image
                src={entry.race === "infernals" ? infernals : vanguard}
                alt={entry.race}
                class="size-6 sm:size-10"
              />
              <div>
                <span class:list={["text-xs", themes[entry.race as Theme].badgeLabel]}>Rank</span>
                <p>#{entry.rank}</p>
              </div>
              <div>
                <span class:list={["text-xs", themes[entry.race as Theme].badgeLabel]}>Points</span>
                <p>
                  {Math.round(entry.points)}

                  <RankedBadge entry={entry} class="inline-block w-4" client:load />
                </p>
              </div>
              <div>
                <span class:list={["text-xs", themes[entry.race as Theme].badgeLabel]}>MMR</span>
                <p>{Math.round(entry.mmr)}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <section class="relative mx-auto max-w-screen-md px-4 py-8">
    <Widget title="Recent Matches" label="Closed Beta Ranked">
      <div class="-mx-3 sm:-mx-4">
        {playerMatches.matches.map((match) => <MatchPreview match={match} mainPlayerId={playerId} />)}
      </div>
    </Widget>
  </section>
</Layout>
