---
import Layout from "../../../layouts/Layout.astro";
import YoutubeCard from "../../../components/cards/Youtube.astro";
import RedditCard from "../../../components/cards/Reddit.astro";
import DefaultCard from "../../../components/cards/Base.astro";
import TwitterCard from "../../../components/cards/Twitter.astro";
import { fetchContent } from "../../../lib/content";
const time = new Date().toJSON();
const { source } = Astro.params;

const content = await fetchContent(source == "all" ? [] : [source]);

export function getStaticPaths() {
  return [
    { params: { source: "reddit" } },
    { params: { source: "youtube" } },
    { params: { source: "news" } },
    { params: { source: "twitter" } },
    { params: { source: "tiktok" } },
    { params: { source: "instagram" } },
    { params: { source: "all" } },
  ];
}
---

<Layout title="Home">
  <section class="container mx-auto px-4 relative">
    <p class="my-2">{content.length} results</p>
    <!-- card grid -->

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      {
        content.map((c) => {
          switch (c.source) {
            case "youtube":
              return <YoutubeCard data={c} />;
            case "reddit":
              return <RedditCard data={c} />;
            case "twitter":
              return <TwitterCard data={c} />;
            default:
              return <DefaultCard data={c} />;
          }
        })
      }
    </div>
  </section>
</Layout>
