---
import "@fontsource-variable/nunito-sans"
import MetaImage from "./MetaImage.astro"

export interface Props {
  title: string
  ogImageUrl?: string
  ogDescription?: string
  ogTitle?: string
}

const { title, ogImageUrl, ogDescription, ogTitle } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-24">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    {ogImageUrl && <MetaImage ogImageUrl={ogImageUrl} />}
    {ogTitle && <meta property="og:title" content={ogTitle} />}
    {ogDescription && <meta property="og:description" content={ogDescription} />}
    <title>
      {title ? `${title} - Stormgate World` : "Stormgate World"}
    </title>
  </head>
  <body class="bg-body text-body font-body scroll-pt-24 bg-gray-950 text-white antialiased">
    <slot />
    <style is:global>
      .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </body>
</html>
